@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');

:root {
    --orange: #ffa500;
}

* {
    font-family: 'nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background:var(--orange);
    color:#fff;
}

html{
    font-size:62.5%;
    overflow: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top:0; left: 0;right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

}
header.logo{
    font-size: 2.4rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
}
header .logospan{
    color:var(--orange);
}
header.navbar a{
    color:#fff;
    font-size: 2rem;
    margin: 0 .8rem;
}
header.navbar a:hover{
    color:var(--orange);
}
header .icons i{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color:var(--orange);
}
header .search-bar-container{
    position:absolute;
    top: 100%;left: 0%;right: 0;
    padding: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;

}