*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .wrapper {

} */

.main {
    display: flex;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;

}
.btn{
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
}