#clockContainer {
    position: relative;
    margin: auto;
    height: 20vw;
    /to make the height and width responsive/
    width: 20vw;
    /setting our background image/
    background-size: 100%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 30px;
    transform-origin: bottom;
}
  
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}