* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
}

nav {
	background: #5434af;
	height: 80px;
	width: 100%;
	position: sticky;

}

label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active,
a:hover {
	background: #4a19de;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
		color: black;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a {
		font-size: 16px;
	}
}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}

	ul {
		position: sticky;
		width: 100%;
		height: 100vh;
		background: #6236e7;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
	}

	a:hover,
	a.active {
		background: none;
		color: #5434af;
	}

	#check:checked~ul {
		left: 0;
	}
}

section {
	/* background: url("/asset/first.jpg") no-repeat; */
	background-size: cover;
	height: 168px;
	width: 299px;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, auto-fill);
	justify-content: center;
	justify-items: center;
	padding: 20px;
	background-color: rgb(125, 147, 233);
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
	grid-column-gap: 6px;
	grid-row-gap: 6px;
}

.container2 {
	border: 2px solid red;
	display: grid;
	/* justify-content: center; */
	align-content: space-between;
	justify-content: space-around;
	justify-items: center;
	padding: 20px;
	background-color: seashell;
}
.container3 {
	border: 2px solid red;
	display: grid;
	width: 100%;
	height: 2.5rem;
	grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
	grid-gap: 20px;
	align-content: space-between;
	justify-content: space-around;
	justify-items: center;
	padding: 20px;
	background-color: seashell;
}

.discription {
	background-color: #888888;
}

.item {
	border: 2px solid red;
	background-color: rgb(130, 147, 238);
	margin: 50px;
	padding: 40px;
}
.item2 {
	border: 2px solid rgb(206, 120, 120);
	background-color: rgb(177, 166, 16);
	margin: 50px;
	padding: 40px;
	width: 100%;
}

.blog-post {
	display: flex;
	align-items: center;
	max-width: 90rem;
	background-color: rgb(152, 153, 120);
	padding: 2.5rem;
	box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
	border-radius: 0.8rem;
}

.blog-post_img {
	position: relative;
	min-width: 35 rem;
	max-width: 35rem;
	height: 30 rem;
	transform: translateX(-8rem);
}

.blog-post_img img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.8rem;
}

.blog-post_img:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.blog-post_img::before {
	content: "";
	position: absolute;
	inset: 0;
	/* background: linear-gradient(to right,#4facfe 0%, #b9a70b 100%); */
	box-shadow: 0.5 rem 0.5rem 3 rem 1px rgba(247, 20, 20, 0.05);
	border-radius: 0.8rem;
	opacity: 0.5;
}
.blog-post_date span {
	display: block;
	color: burlywood;
	font-weight: 600;
	margin: 0.5rem 0;
}
.blog-post_title {
	font-size: 2.5rem;
	margin: 1.5rem 0 2rem;
	text-transform: uppercase;
	color: #4facfe;
}

.blog-post_info p {
	margin-bottom: 3rem;
	color: rgba(225, 32, 32, 0.7);
}

.blog-post_cta {
	display: inline-block;
	background-image: linear-gradient(to right, #4facfe 0%, #3e74fd 100%);
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0.8rem;
}

.blog-post_cta:hover {
	background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}
@media(max-width:1068px) {
	.blog-post {
		max-width: 80rem;
	}

	.blog-post_img {
		min-width: 30rem;
		max-width: 30rem;
	}
}
@media(max-width:868px) {
	.blog-post {
		max-width: 70rem;
	}
}
@media(max-width:768px) {
	.blog-post {
		padding: 2.5rem;
		flex-direction: column;
	}

	.blog-post_img {
		min-width: 100%;
		transform: (0, -8rem);
	}
}
.checked {
	color: orange;
}

#s1{
	background-image: url(/asset/1.png);
	background-repeat: no-repeat;
	 background-size: cover;
	width: 320px;
	height: 400px;
}
#s2{
	background-image: url(/asset/2.png);
	background-repeat: no-repeat;
	 background-size: cover;
	width: 320px;
	height: 400px;
}
#s3{
	background-image: url(/asset/3.png);
	background-repeat: no-repeat;
	 background-size: cover;
	width: 320px;
	height: 400px;
}
#s4{
	background-image: url(/asset/4.png);
	background-repeat: no-repeat;
	 background-size: cover;
	width: 320px;
	height: 400px;
}
#s5{
	background-image: url(/asset/5.png);
	background-repeat: no-repeat;
	 background-size: cover;
	width: 320px;
	height: 400px;
}
#s6{
	background-image: url(/asset/6.png);
	background-repeat: no-repeat;
	 background-size: cover;
	width: 320px;
	height: 400px;
}

:root{
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 400;
 }
 
 *{
	margin: 0;
	box-sizing: border-box;
 }
 
 .carousel{
	position: relative;
 }
 
 .carousel_inner{
	width: 100%;
	overflow: hidden;
 }
 
 .carousel_inner::after{
	content: "";
	display: block;
	clear: both;
 }
 
 .carousel_item{
	position: relative;
	float: left;
	display: none;
	width: 100%;
	margin-right: -100%;
 }
 
 /* slide effect */
 .carousel_item__active,
 .carousel_item__pos_prev,
 .carousel_item__pos_next{
	display: block;
 }
 
 .carousel_item__pos_prev{
	left: -100%;
 }
 
 .carousel_item__pos_next{
	left: 100%;
 }
 
 .carousel_item__prev{
	transform: translateX(100%);
	transition: transform .5s ease-in-out;
 }
 
 .carousel_item__next{
	transform: translateX(-100%);
	transition: transform .5s ease-in-out;
 }
 
 /* fade effect */
 .carousel__fade .carousel_item__pos_prev,
 .carousel__fade .carousel_item__pos_next{
	left: 0;
	opacity: 0;
 }
 
 .carousel__fade .carousel_item__prev,
 .carousel__fade .carousel_item__next{
	transform: none;
	opacity: 1;
	transition: opacity .5s ease-in-out;
 }
 
 .carousel__fade .carousel_item__active.carousel_item__prev,
 .carousel__fade .carousel_item__active.carousel_item__next{
	opacity: 0;
 }
 
 /* carousel */
 .carousel_img{
	display: block;
	width: 100%;
 }
 
 .carousel_caption{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 3rem 4rem;
	text-align: center;
	color: #fff;
	z-index: 1;
 }
 
 .carousel_title{
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
 }
 
 .carousel_description{
	margin-top: .75rem;
	line-height: 150%;
 }
 
 .carousel_indicator{
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	gap: .5rem;
	z-index: 1;
 }
 
 .carousel_dot{
	display: block;
	padding: .25rem;
	background-color: rgba(255, 255, 255, .25);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color .5s ease-in-out;
 }
 
 .carousel_dot__active{
	background-color: lightskyblue;
	cursor: default;
	pointer-events: none;
 }
 
 .carousel_control{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
 }
 
 .carousel_button{
	display: block;
	padding-inline: 1rem;
	font-family: "Raleway", sans-serif;
	font-size: 1.375rem;
	background-color: transparent;
	color: rgba(255, 255, 255, .25);
	border: none;
	cursor: pointer;
	transition: color .25s;
	z-index: 1;
 }
 
 .carousel_button:hover{
	color: rgba(135, 206, 250, .75);
 }



@media screen and (max-width: 480px){

	.about-us h2 {font-size: 300px;}

	.time-after:after{display: none;}

	.single-package-item {max-width: 350px;margin: 0 auto;margin-bottom: 30px;}

	.single-special-shape-txt {left: 30px;}

}/*max-width:480px*/



@media screen and (max-width: 440px){
	.desc-tabs .nav-tabs>li>a,.desc-tabs .nav-tabs>li.active>a { padding: 17px 10px 17px 10px;font-size:12px;}
	.nav-tabs {border-bottom: 0;}

	.single-trip-circle:nth-child(2){margin-left: 0px;}
	.trip-circle {flex-direction: column;}
	.about-view.travel-btn {width: 150px;}
	
	.filtr-item {max-width: 250px;}

	.home1-testm-txt p {font-size:14px;max-width:180px;}

	.dicount-offer-content h2 {font-size: 24px;}

	.single-package-item {max-width: 250px;margin: 0 auto;margin-bottom: 300px;
	}

	.about-view.packages-btn.offfer-btn { margin-right: 10px;}

	.custom-input-group .subscribe-btn {float: left;top: 76px;}
	.custom-input-group .form-control {padding-right: 0px;font-size: 13px;}


}/*max-width:400px*/

.packages{
    padding:120px 0 90px;
}
.packages-content{
    margin-top:65px;
	display: inline-block;
}
/*single-package-item */
.single-package-item{
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.single-package-item-txt{
    padding: 0 25px;
}
.single-package-item img {
    width: 100%;
}
.single-package-item h3{
    position: relative;
    font-size: 20px;
    color: #565a5c;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}
.single-package-item h3:after{
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ebebeb;
}
.packages-para{
    padding:17px 0 0;
    text-transform: capitalize;
}
.packages-para p{
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    margin-bottom:15px;
}
.packages-para p span{
    display: inline-block;
    width: 150px;
}
.packages-review p i{
    color: #ffdf00;
    font-size: 16px;
}
.packages-review span{
    margin-left: 20px;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.about-view.packages-btn{
    width: 110px;
    height: 35px;
    font-size: 14px;
    color: #c92c2c;
    text-transform: capitalize;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;

}
.about-view.packages-btn:hover{
    box-shadow: 0 5px 20px rgba(14,15,18,.3);
}
.single-package-item:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}



.packages-para.special-offer-para p{
    color: #fff;
}
.packages-para.special-offer-para p span{
    display: inline;
    color: #fff;
    width: 100%;
    margin-right: 25px;
}
.offer-para{
    margin-top: 31px;
    text-transform: initial;
    line-height: 2;
}

.packages-review.special-offer-review {
    margin-bottom: 13px;
}
.packages-review.special-offer-review span{
    color: #fff;
}

.offer-btn-group{
    display: flex;
    margin-top: -10px;
}
.about-view.packages-btn.offfer-btn{
    background: transparent;
    border:1px solid #fff;
    color: #fff;
    margin-right: 25px;
}