*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    /* background-color: antiquewhite; */
}
aside{
    display: flex;
}
#navbar{
    display: flex;
    align-items: center;
}
ul{
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
}
li{
    justify-content: center;
    padding: 14px;
}
a{
    text-decoration: none;
}
a:hover{
    /* background-color: pink; */
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
li:hover{
    color:yellow;
    font-style: italic;
    background-color: red;
    border-radius: 30px;
    justify-content: center;
}
button{
    /* /* text-align: right; */
    /* justify-content: right; */
    /* align: right; */
    /* flex-direction: row; */

}
button:hover{
    background-color: aqua;
    border-radius: 30px;

}
aside:hover{
    background-color: pink;
    cursor: pointer;
    /* border-color: ; */
}
#jambo{
    /* z-index: -1; */
    margin: 0px;
    padding:0px;
    display: inline;
    visibility:unset;
}